button {
  border: none;
}

.product-up {
  // display: flex;
  // flex-direction: row;
  margin-top: 20px;
  flex-grow: 1;
  padding: 0px;
  gap: 59px;
}

.page-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  // width: 567px;
  // height: 488.09px;
}

.main-pic {
  position: relative;
  // display: flex;
  // min-width: 500px;
  // min-height: 700px;
  // padding-top: 120%;
  width: 100%;
  // background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  > img {
    width: 100% !important
  }
}
// .card-category {
//   width: 567px;
//   height: 362.29px;
// }

.small-pics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  // width: 367px;
  // height: 100.8px;
}



.page-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 20px;

  // gap: 27px;

  // width: 424px;
  // height: 458px;
}

// .accordion {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 0px;
//   gap: 27px;

//   // width: 404px;
//   // height: 187px;
// }

.accordion-item {
  margin-bottom: 20px;
  border-radius: 8px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;

}

.accordion-button {
  border-radius: 8px;
}

.accordion-button:not(.collapsed) {
  background-color: #F5F5F5;
}

.collapsed {
  background-color: #3C9379;
}

.accordion-item__header {
  height: 50px;
  line-height: 50px;
}

.pic-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  gap: 9px;
  top: 0;
  right: 0;

  // position: absolute;
  // width: 140px;
  // height: 65px;
  // left: 370px;
  // top: 16px;
}
