<footer class="new-background py-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus velit mauris, sed scelerisque lectus aliquet quis.</p>
      </div>
      <div class="col-12 col-md-4">
        <h5>Contact Us</h5>
        <p>Email: contact@Barterbay.com</p>
        <p>Phone: +49 123 456 78</p>
        <p>Address: Berlin street, 123</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Follow Us</h5>
        <a href="#"><i class="fab fa-facebook fa-xl text-white fa-fw"></i></a>
        <a href="#"><i class="fab fa-twitter fa-xl text-white fa-fw"></i></a>
        <a href="#"><i class="fab fa-instagram fa-xl text-white fa-fw"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-xl text-white fa-fw"></i></a>
      </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p>&copy; 2023 Barterbay. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
