<footer class="mt-4">
  <div class="container">
    <div class="row py-4">
      <div class="col-12 col-md-5">
        <h5 class='bold'>About Us</h5>
        <p class='about-text'>Exchange goods and services without involving money</p>
      </div>
      <div class="col-12 col-md-4 contact-div">
        <h5 class='bold'>Contact Us</h5>
        <p>Email: <span>eng.fadimichel@gmail.com</span></p>

      </div>
      <div class="col-12 col-md-3">
        <h5 class='bold'>Follow Us</h5>
        <a href="https://www.facebook.com/eng.fadimichel/" target="_blank"><i class="fab fa-facebook fa-xl text-white fa-fw"></i></a>
        <a href="https://twitter.com/fadimichel" target="_blank"><i class="fab fa-twitter fa-xl text-white fa-fw"></i></a>
        <a href="https://www.linkedin.com/in/fadi-m-bibawy-395740bb/" target="_blank"><i class="fab fa-instagram fa-xl text-white fa-fw"></i></a>
        <a href="https://www.linkedin.com/in/fadi-m-bibawy-395740bb/" target="_blank"><i class="fab fa-linkedin fa-xl text-white fa-fw"></i></a>
      </div>
    </div>
  </div>
  <div class="small_footer py-3">
      <div class="col-12 text-center">
        <p class='m-0'>&copy; 2023 Barterbay. All Rights Reserved.</p>
      </div>
    </div>
</footer>
