<div class='container'>
  <div class='text-center'>
    <br>
    <h1><strong>BarterBay</strong></h1>
    <h1 >Stop selling, start Bartering!</h1>
    <h1>Exchange goods without involving money</h1>
  </div>
</div>


<%= render "products/index" %>
