<div class='d-flex home_bg justify-content-around'>
<%# Text about the app %>
    <div class = "left-text bartertext " >
        <%# stop selling text  %>
        <div class = "text23">
          Stop selling,<br>start<span style="color:#3C9379"> Bartering</span>
        </div>
        <%# additonal texzt %>
        <div>Exchange goods and services without  involving money</div>
    </div>
    <div class="right-text d-flex justify-content-center align-items-center">
    <%= image_tag("logo_1.png", height:"75%")%>
    </div>
</div>
<%= render "products/index" %>
