<div class='container d-flex row justify-content-center'>
  <div class='justify-content-center col-12'>
    <h1 >Stop selling, start Bartering!</h1>
  </div>
  <h1 class='justify-content-center'>Exchange goods without involving money</h1>
</div>


<%= render "products/index" %>
