<div class='d-flex '>
<%# Text about the app %>
    <div class = "left-text bartertext " >
        <%# stop selling text  %>
        <div class = "text23">
        Stop selling,<br>start<span style="color:#3C9379"> Bartering</span>
        </div>
        <%# additonal texzt %>
        <div>Exchange goods and services without  involving money</div>
    </div>
    <div class ="right-text">
    </div>
</div>


<%= render "products/index" %>
