.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.navbar-brand {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}
.navbar {
  background-color: rgba(#3C9379, 0.1);
}
.nav-link.add_prod {
  color: #3C9379
}
