@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
.product_card {
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
}

.user p {
  opacity: .5;
  font-size: 14px;
}

.quality p {
  opacity: .5;
  font-size: 14px;
}

.link{
  
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.imgBx {
  position: relative;
  overflow: hidden;
}

.imgBx img {
  transition: all 0.2s;
  filter: grayscale(50%);
  width: 100%;
}

.imgBx img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  outline: 1px solid rgb(230, 230, 230);
  cursor: pointer;
}

.imgBx:hover + .contentBx {
  margin-top: 10px;
}

.imgBx:hover + .contentBx .product_card {
  transform: scale(1.05);
}
