@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
.product_card {
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  border: 1px solid rgb(230,230,230);
}

.user p {
  opacity: .5;
  font-size: 14px;
}

.quality p {
  opacity: .5;
  font-size: 14px;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.link{
  padding-top: 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.imgBx {
  display: inline-block;
  position: relative;
}

.imgBx img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.imgBx img {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
}
.imgBx img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  outline: 1px solid rgb(230, 230, 230);
}

.imgBx:hover + .contentBx {
  margin-top: 10px;
  -webkit-transition: all 0.2s;
}

.imgBx:hover + .contentBx .product_card {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}
