<div class="container">
  <%= @product.title %>
  <%= cl_image_tag @product.photos.first.key, height: 300, width: 400, crop: :fill %>

  <div>
    <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 50, width: 80, crop: :fill %>
  </div>
<% end %>
</div>
